@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Kufi Arabic', sans-serif;
  background-color: #EFEAE2;
}

.link {
  @apply p-2.5 flex rounded-md gap-6 items-center md:cursor-pointer cursor-default duration-0;
}

.active {
  @apply bg-[#EFEAE2] text-gray-950;
}